:root {
    --dark-green: #36382E;
    --main-nav: #8e4a49;
    --blog-nav: #8e4a49;
    --light-green: #aac0af;
    --light-peach: #e0afa0;
    --peach: #e0a890;
}

body {
    background-color: #e0afa0;
    margin: 0;
}

/* dark green, redish brown, light green, light peach, peach */
/* 36382E, 8e4a49, aac0af, e0afa0, e0a890 */

.main-nav {
    background-color: var(--main-nav);
    margin: auto;
    padding: 10px;
    width: 80vw;
    border-radius: 5px;
    /* center the nav bar */
}

.blog-nav {
    background-color: var(--blog-nav);
    margin: auto;
    padding: 10px;
    width: 60vw;
    border-radius: 5px;
    /* center the nav bar */
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: var(--light-green);
    font-size: 20px;
    text-decoration: none;
    font-family: "reiher-headline", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
}

nav a:hover {
    color: var(--light-green);
    text-decoration: underline;
}

nav a:visited {
    color: var(--light-peach);
}

.banner-image {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.invert:hover {
    filter: invert(100%);
}

.main-heading {
    text-align: center;
}

.small-photo {
    width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    align-self: center
}

.header-font {
    font-family: "reiher-headline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.photo-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

.video-block {
    display: block;
    margin: 15px auto;
}

.sub-heading {
    text-align: center;
}

.artist-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px;
}

.artist-photo {
    width: 100px;
}

.artist-photo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

h1 {
    font-size: 31.25px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

small {
    font-size: 12px;
}

.content-spacer {
    margin: 0px 10%;
}

footer {
    background-color: var(--light-green);
    text-align: center;
    padding: 20px;
    width: 100%;
}